Showing RED? <input [(ngModel)]="shouldShowRed"><br>
<div *ngIf="newRecord._id">
  _id: <input [(ngModel)]="newRecord._id"><br>
</div>
title: <input [(ngModel)]="newRecord.title"><br>
genre: <input [(ngModel)]="newRecord.genre"><br>
author: <input [(ngModel)]="newRecord.author"><br>
read: <input [(ngModel)]="newRecord.read"><br>
<button (click)="addRecord(newRecord)" mat-raised-button color="primary">{{newRecord._id ? 'Update Record' : 'Add Record'}}</button>
<div *ngFor="let a of myArr; let i = index">
  <p>ID:{{a._id}}</p>
  <p>Title:{{a.title}}</p>
  <h1 [ngClass]="{'red':shouldShowRed}">ID: {{a.id}} Name: {{a.author}}</h1>
  <p [ngStyle]="pStyle">genre: {{a.genre}}</p>
  <p>read: {{a.read}}</p>
  <button mat-raised-button color="primary" (click)="toggleClass()">Toggle Red</button>
  <button mat-raised-button color="primary" (click)="remove(a._id)">X</button>
  <button mat-raised-button color="primary" (click)="update(a)">Update</button>
</div>